@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?16524678');
  src: url('../font/icons.eot?16524678#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?16524678') format('woff2'),
       url('../font/icons.woff?16524678') format('woff'),
       url('../font/icons.ttf?16524678') format('truetype'),
       url('../font/icons.svg?16524678#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  
  font-variant: normal;
  text-transform: none;

     line-height: 1em;
 
  margin-left: .2em;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
 
.icon-arrow-left:before { content: '\e800'; }
.icon-arrow-right:before { content: '\e801'; }

.imgcarousel{
    height: 5%;
    width: 10%;
}

/*logo*/

.logo{
    height: 50px; 
    width: 75px;
}

/*nav*/

.nav-item::after{
    content:'';display:block;width:0px;height:2px;background:#ff7600;transition: 0.2s;
}

.nav-item:hover::after{
    width:100%;
}

.nav-link{
    padding:15px 5px;transition:0.2s;
}

.navbar-light .navbar-brand {
    font-family: 'Kaushan Script', cursive;
    color: #ff7600;
    font-size: 30px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(242, 112, 0, 0.79);
}

.navproprio{
    background-image: linear-gradient(141deg, #141313 -9%, #505050 72%, #b4b4b4 310%) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    margin: 0px 7px 0px 7px;
    font-family: 'Scada', sans-serif;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin: 0px 7px 0px 7px;
    font-family: 'Scada', sans-serif;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

/*menu lateral*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: linear-gradient(141deg, #141313 -9%, #505050 72%, #b4b4b4 310%) !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ff7600;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.img1{
  width: 25px;
  height: 25px;
}
.img2{
  width: 25px;
  height: 25px;
}
.img3{
  width: 25px;
  height: 25px;
}
.img4{
  width: 70px;
  height: 70px;
  margin-left: 90px;
}
#mySidenav a.link{
   margin: 0px 49px;
   text-decoration: none;
   font-size: 16px;

}
.nome{
    text-align: center;
    color: #424242;
    margin: auto;
}


/*dropdown*/
.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-image: linear-gradient(141deg, #141313 -9%, #505050 72%, #b4b4b4 310%) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; 
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item.active, .dropdown-item:active {
    color:  #ff7600;
    text-decoration: none;
    background-color: rgba(74, 70, 70, 0.05);
}

.dropdown-item:focus, .dropdown-item:hover{
     background-color: rgba(255, 255, 255, 0.63);
}

a:focus {
    outline: none !important;
}

/*botoes*/
.btn-outline-success {
    color: #fff;
    background-color: #01939a;
    background-image: none;
    border-color: #47afb4;
    box-shadow: none !important;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #017277;
    border-color: #005a5e;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #017277;
    border-color: #005a5e;
}

.btn-outline-success.focus, .btn-outline-success:focus{
    box-shadow: 0 0 0 0.2rem rgba(27, 80, 65, 0.5);
}

.d-block w-100{
    background: rgb(0, 0, 0)!important;
    background: rgba(0, 0, 0, 0.5)!important;
    color: red;
}

.carousel-indicators .active {
    background-color: #005a5e;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 90, 94, 0.55);
}

.w-100 {
    width: 100%!important;
    padding-top: 71px;
    margin-top: -80;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 200px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Sawarabi Mincho', sans-serif;
}

/*Cards*/

.card {
    background-color: #fafafa;
    position: relative;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


a.fill-divc {
    background-color: #fafafa;
    display: flex;
    width: 100%;
    margin: auto;
    color: black;
    align-content: center;
    padding: 2%;
    flex-wrap: wrap;
    
}

a.fill-divc:hover, a.fill-divc:focus {
    color: black !important;
    text-decoration: none !important;
}


.card-geral {
    margin: auto;
    display: flex;
    align-content: center;
    padding: 2%;
    flex-wrap: wrap;
}

.card-geral .card .card-img-top{
    width: 100%;    
}

.card-geral .card{
    margin: 2.5%;
}


.btn:hover, .btn:focus {
    color: white !important;
    text-decoration: none;
}

/*RESPONSIVIDADE*/

/*PEQUENO*/
@media screen and (max-width: 540px) {
    .card-geral{
        width: 85%;
    }
    .card {
        width: 90%;
    }
    
    #geral_lancamentos{
        display: none;
    }
    
    #navbarSupportedContent{
        display: none !important;
    }
    
    #pesquisa-menu{
        display: none;
    }

}

/*INTERMEDIÁRIO*/
@media screen and (min-width: 540px) and (max-width: 960px){
    .card-geral{
        width: 95%;
    }
   .card-geral .card{
        max-width: 28%;
       
    }
    
     #geral_lancamentos{
        display: none;
    }

    .carousel-control.left {
        margin-top: 20rem;
    }

    .carousel-control.right {
        right: -12px;
        margin-top: 20rem;
    }  
    
    #navbarSupportedContent{
        display: none !important;
    }

}

/*GRANDE*/
@media screen and (min-width: 960px){
    .card-geral{
        width: 95%;
    }
    .card-geral .card{
        max-width: 13.7%;
        margin: 1.48%;
    }
    
    .bg-1 .button {
        color: #f8f9fa !important;
        border-color: #37474f;
    }
    
    #lancamentos_res{
        display: none;
    }
    
    #carouselExampleIndicators{
        display: none;
    }
    
    #nav-link-lateral{
        display: none;
    }

}

#div_left .estantes .estante .card-body p{
    display: flex;
    margin: 0 10% 0% 2%;
    font-family: 'Scada', sans-serif;
    font-size: 15px;
}

.titulo{
    font-weight: bold;
    font-family: 'Scada', sans-serif;
    font-size: 15px;
}

.etiqueta{
    float: left;
    margin-left: 5%;
    margin: 0 2% 0% 2%;
    font-weight: bold;
    font-family: 'Scada', sans-serif;
    font-size: 15px;
}

/*etiqueta botão*/
.btn-group-sm>.btn, .btn-sm{
    margin-left: 10px;
    font-weight: bold;
    background-color: #ff7600;
    border-color: rgba(242, 112, 0, 0.79);
}

.btn-secondary:hover{
    background-color: #ff7600;
    border-color: rgba(242, 112, 0, 0.79);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #ff7600;
    border-color: rgba(242, 112, 0, 0.79);
}

.btn-secondary.focus, .btn-secondary:focus{
    box-shadow: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: default;
}

.btn:not(:disabled):not(.disabled) {
    cursor: default;
    margin: 5px;
}


/*footer*/

element.style {
}

.card-header {
    font-size: 19px;
    font-family: 'Kaushan Script', cursive;
    color: #ff7600;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-image: linear-gradient(141deg, #141313 -9%, #505050 72%, #b4b4b4 310%) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}